{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="neus-nav" aria-label="Primary navigation">
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><span class="brand-logo" aria-label="NEUS"><img class="site-logo" src="{{ base_path }}/images/lab-logo1.png" alt="NEUS Lab logo"></span></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</div>